.titulo, label {
    color: red;
  }
  
  input[type="text"], input[type="password"] {
    color: red;
    background-color: white;
  }
  body {
  
 
    background-image: url("imagens/AbandonedGrimKagu-max-1mb.gif");
      
     
    background-repeat: no-repeat;
      
     
    background-size: cover;
    display: flex;
  
 
 justify-content: center;
  
 
 align-items: center;
 }
.btn2{
    color: red ;
}