*{
    margin: 0;
    padding: 0;
   
}
#corpodahome{
   background-color: darkgrey;
 
}

.imagens .imagem{
  display: inline-block;
 color: red;

}
.imagens .imagem img{
    width: 300px;
    height: 280px;
}
/*.imagem1{
    color: red;
    display: inline-block;
    float: left;
}*/

